@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Borel&family=Pacifico&family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Borel&family=Pacifico&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Borel&family=Pacifico&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

* {
    padding: 0px;
    margin: 0px;
}
html, body{
    min-height: 100vh;
}
header{
    font-size: 3vw;
    background-color: black;
    padding: 50px;
}
header h1{
    color: white;
    font-family: Passion One;
    font-weight: bold;
    font-size: 100px;
    font-variant: small-caps;
    text-align: center;
    margin-bottom: 20px;
}
header p{
    text-align: center;
    text-decoration: none;
    color: white;
}
header a{
    text-decoration: none;
    color: white;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    margin: 0px;
    font-family: Sriracha, sans-serif;
    font-size: 3vw;
    padding-left: 45px;
    line-height: 2em;
}

section > p{
    padding-bottom: 1em;
}

section.normal{
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.473);
}
section#imagem1{
    box-shadow: 5px 5px 12px 0px rgba(0, 0, 0, 0.596);
    text-shadow: 1px 1px 0px black;
    color: white;
    background-attachment: fixed;
    background-size: cover;
    background-position: center right;
    background-image: url(imagens/background001.jpg);
}
section#imagem2{
    text-shadow: 1px 1px 0px black;

    color: white;
    background-attachment: fixed;
    background-size: cover;
    background-image: url(imagens/background002.jpg);
}
section.imagem > p{
    padding: 5px;
    display: inline-block;
    background-color: rgba(66, 66, 66, 0.623);
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    font-family: Passion One;
    font-size: 25px;
}
